body
  padding: 50px
  font: 14px Helvetica, Arial, sans-serif
  text-align: center
  margin: auto
p
  color: purple
  text-align: center
  margin: auto

li 
  list-style-type: none
  
#drawer
  text-align: center
  margin: auto