 /* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);

/* COMMON SECTION */

body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
  text-align: center;
  margin: auto;
}
p {
  color: #800080;
  text-align: center;
  margin: auto;
}
li {
  list-style-type: none;
}
#drawer {
  text-align: center;
  margin: auto;
}


/* Buttons Style 1 */

button
  {
    position: relative;
    display: inline-block;
    background: #2B8FC4;
    padding: 0.8em 2em;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 300;
    color: #FFF !important;
    -moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
    text-align: center;
  }

button:hover
  {
    background: #167cb2;
    color: #FFF !important;
  }

button-alt
  {
    padding: 0.9em 2em;
    font-size: 1.5em;
  }

/* player face card snippet */

.snip1579 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1579 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1579 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1579 figcaption {
  position: absolute;
  height: 75px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.75);
}
.snip1579 h3 {
  font-family: 'Roboto';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}
.snip1579 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 1px;
}
.snip1579 blockquote {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-size: 1em;
}
.snip1579 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1579:hover figcaption,
.snip1579.hover figcaption {
  height: calc(85%);
}