doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
    #appLayout=appLayout

    //- USE THE BELOW LINE FOR TESTING ONLY NOT FOR PRODUCTION

    #testBlock=test

    script(src = "/public/javascripts/layout.js")




