doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
    #appLayout
    script(src = "/public/javascripts/layout.js")
    block content
    