extends layout

block content
	#main main ID2
	script
		|console.log("pug tip: highlight code for tabs, '|' for scripts")
	ul
		each player in playerProfs
			li=player.firstname +" " + player.lastname

	script(src = "./javascripts/playerApp.js")