extends layout

block content
	#playerLog=body
	//- script
	//- 	|console.log("pug tip: highlight code for tabs, '|' for scripts")

	if playerProfs
		script.
			console.log("playerProfs object pulled from Database.")
		ul
			each player in playerProfs
				li=player.name +": " + player._id


	script(src = "/public/javascripts/playerApp.js")
	//-script(src = "./javascripts/serverCalls.js")